---
import Image from "astro/components/Image.astro";
import AboutImg from "../assets/images/about.webp";
---

<section
  id="about"
  class="mt-24 px-6 md:px-12 lg:px-20 flex flex-col md:flex-row justify-center items-center gap-12"
>
  <div class="w-full md:w-auto flex justify-center">
    <Image
      src={AboutImg}
      alt="About Image"
      width={420}
      class="w-72 sm:w-80 md:w-105"
    />
  </div>

  <div class="max-w-xl space-y-6 text-center md:text-left">
    <p class="text-[#24B9CC] text-sm font-medium bg-[#D3F8FD] px-4 py-2 w-fit mx-auto md:mx-0 rounded-full">
      Tentang Klinik
    </p>

    <h1 class="font-black text-3xl sm:text-4xl leading-tight">
      Perawatan Gigi yang Aman, Nyaman, dan Profesional
    </h1>

    <p class="text-slate-600 leading-relaxed">
      Kami adalah klinik gigi yang berfokus pada kesehatan, estetika, dan kenyamanan pasien.
      Dengan pendekatan ramah dan edukatif, kami memastikan setiap pasien memahami kondisi giginya
      dan mendapatkan perawatan terbaik sesuai kebutuhan.
    </p>
  </div>
</section>
