---
import HappyFacesImg from '../assets/icon/happy-faces.svg';
import ToothImg from '../assets/icon/tooth.svg';
---

<section id="CTA" class="relative mt-24 py-24 px-12 flex justify-center items-center gap-12 bg-[#24B9CC]">
    <HappyFacesImg class="absolute -top-12" />
    <ToothImg class="relative -rotate-15 -top-10 hidden md:block" />
	<div class="md:max-w-xl space-y-6 text-center text-white">
		<h1 class="font-black text-3xl md:text-4xl">Jangan Tunda Perawatan Gigi Anda</h1>
		<p class="text-slate-100">Jadwalkan pemeriksaan hari ini dan dapatkan senyum sehat yang Anda idamkan.</p>
        <button class="text-[#24B9CC] bg-white font-medium py-2 px-4 rounded-full cursor-pointer hover:bg-slate-100">Konsult ke Whatsapp</button>
	</div>
    <ToothImg class="relative rotate-15 hidden md:block" />
</section>