---
import Image from "astro/components/Image.astro";
import CheckIcon from "../assets/icon/check-circle.svg";

const whyChooseUs = [
  "Ditangani oleh Dokter Gigi Bersertifikat",
  "Menggunakan Peralatan Modern & Steril",
  "Pelayanan Ramah dan Transparan",
  "Jadwal Fleksibel & Proses Efisien",
  "Cocok untuk Anak-anak hingga Dewasa"
]
---

<section
  id="about"
  class="mt-24 px-6 md:px-12 lg:px-20 flex flex-col justify-center items-center gap-12"
>
  <div class="max-w-xl space-y-6 flex flex-col items-center text-center">
    <p class="text-[#24B9CC] text-sm font-medium bg-[#D3F8FD] px-4 py-2 w-fit rounded-full">
      Why choose us
    </p>
    <h1 class="font-black text-3xl sm:text-4xl">
      Kenapa memilih klinik kami?
    </h1>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-8 max-w-7xl w-full">
    {whyChooseUs.map((value) => (
      <div class="flex items-start gap-3">
        <Image src={CheckIcon} alt="Check Icon" width={36} class="shrink-0" />
        <h3 class="font-medium text-base leading-snug">
          {value}
        </h3>
      </div>
    ))}
  </div>
</section>
