---
const workflows = [
  {
    title: "Buat Janji Temu",
    description: "Pilih Jadwal Yang Sesuai Dengan Waktu Anda."
  },
  {
    title: "Pemeriksaan & Konsultasi",
    description: "Dokter Akan Menjelaskan Kondisi Dan Pilihan Perawatan."
  },
  {
    title: "Prosedur Medis",
    description: "Perawatan Dilakukan Dengan Aman Dan Nyaman."
  },
  {
    title: "Kontrol & Edukasi",
    description: "Panduan Perawatan Lanjutan Untuk Hasil Optimal."
  }
]
---

<section
  id="about"
  class="mt-24 px-6 md:px-12 lg:px-20 flex flex-col justify-center items-center gap-12"
>
  <div class="max-w-xl space-y-6 flex flex-col items-center text-center">
    <p class="text-[#24B9CC] text-sm font-medium bg-[#D3F8FD] px-4 py-2 w-fit rounded-full">
      Cara Kerja Kami
    </p>
    <h1 class="font-black text-3xl sm:text-4xl">
      Proses Perawatan Mudah
    </h1>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 w-full max-w-7xl">
    {workflows.map((step, idx) => (
      <div class="p-6 rounded-xl bg-[#EBFDFF] border border-[#24B9CC] min-h-55">
        <h3 class="font-semibold text-3xl text-[#24B9CC]">
          {idx + 1}
        </h3>
        <h3 class="mt-3 mb-1 font-semibold text-lg">
          {step.title}
        </h3>
        <p class="text-sm text-slate-600">
          {step.description}
        </p>
      </div>
    ))}
  </div>
</section>
